@model IEnumerable<WebMdApplication.Models.Doctor>

@{
    ViewBag.Title = "Index";
}

<h2>Doctors</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DoctorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoctorDesignation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DoctorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoctorDesignation)
        </td>
        <td>
             @Html.ActionLink("Posts by Doctor","Posts", new { id = item.DoctorId })
        </td>
</tr>
}

</table>
